<h2>Bot list</h2>

<ul>
    <li *ngFor="let bot of bots">
        <p>{{ bot.id }}<br>{{ bot.first_name }} 
            (<a [href]="'https://t.me/' + bot.username">@{{ bot.username }}</a>)</p>
        
        <p>
            <button (click)="open(bot)">Inbox</button>
            <button (click)="show(bot)">Show token</button>
            <button (click)="remove(bot)">Remove</button>
        </p>
    </li>

    <li>
        <p>Add your bot</p>
        <input [(ngModel)]="token" placeholder="Enter your bot token..." (keyup.enter)="register()">
        <button (click)="register()">Add</button>
    </li>
</ul>