<button routerLink="/">Go back</button>
<input type="number" [(ngModel)]="interval" (ngModelChange)="createUpdater()">

<h2>
    Bot inbox
    <span *ngIf="lastUpdates > 0">(New {{ lastUpdates }})</span>
</h2>

<div *ngIf="bot">
    {{ bot.first_name }} (@{{ bot.username }})

    <ul>
        <li *ngIf="!bot.messages.length">No incoming messages!</li>
        <li *ngFor="let message of bot.messages.slice().reverse()">
            {{ (message.date * 1000) | date: 'jm' }}
            
            <b>{{ 
                message.chat.title || 
                (message.chat.first_name +
                (message.chat.last_name ? ' ' + message.chat.last_name : '')) }}</b>

            <u>{{ message.from ?
                (message.from.first_name +
                (message.from.last_name ? ' ' + message.from.last_name : '')) : '' }}</u>

            {{ message.text }}
        </li>
    </ul>
</div>