<button routerLink="/">Go back</button>
<input type="number" [(ngModel)]="interval" (ngModelChange)="createUpdater()">

<h2>
    Bot inbox
    <span *ngIf="lastUpdates > 0">(New {{ lastUpdates }})</span>
</h2>

<div *ngIf="bot">
    <h4>{{ bot.first_name }} (@{{ bot.username }})</h4>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Time</th>
                <th>Chat</th>
                <th>@</th>
                <th>From</th>
                <th>@</th>
                <th>Text</th>
                <th>Reply</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let message of bot.messages.slice().reverse()">
                <td>{{ message.message_id }}</td>
                <td>{{ (message.date * 1000) | date: 'y.MM.dd' }}</td>
                <td>{{ (message.date * 1000) | date: 'HH:mm:ss' }}</td>
                
                <td><b>{{ message.chat | tgChat }}</b></td>
                <td><b *ngIf="message.chat.username">@{{ message.chat.username }}</b></td>

                <td><u *ngIf="message.from">{{ message.from | tgUser }}</u></td>
                <td><u *ngIf="message.from?.username">@{{ message.from.username }}</u></td>

                <td [ngSwitch]="true">
                    <div *ngSwitchCase="!!message.text">{{ message.text }}</div>
                    
                    <div *ngSwitchCase="!!message.photo">
                        <img
                            [src]="getFile(message.photo | tgPhoto)"
                            [width]="(message.photo | tgPhoto).width"
                            [height]="(message.photo | tgPhoto).height">
                    </div>
                    
                    <div *ngSwitchCase="!!message.sticker">
                        <strong>{{ message.sticker.emoji || '(Emoji)' }}</strong>
                        <span *ngIf="message.sticker.set_name">&nbsp;(@{{ message.sticker.set_name }})</span>
                    </div>
                    
                    <div *ngSwitchDefault>
                        <strong>Unsupported message</strong>
                        <pre>{{ message | prettyJson }}</pre>
                    </div>
                </td>

                <td *ngIf="message.reply_to_message?.from">
                    &gt;&gt; <b>{{ message.reply_to_message.from | tgUser }}</b>
                    {{ message.reply_to_message.text }}
                </td>
            </tr>
        </tbody>
    </table>

    <tr *ngIf="!bot.messages.length">
        <td colspan="9">No incoming messages!</td>
    </tr>
</div>